@model IEnumerable<EstacionamentoESilva.Models.Veiculo>

@{
    ViewBag.Title = "Veiculos Cadastrados";
}

<h2>Veiculos Cadastrados</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </th>
        <th>
            @Html.DisplayName("Carro")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacoes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.NomeCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Placa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacoes)
        </td>
        <td>         
            @Html.ActionLink("Serviço", "TipoServico", "Servico", new { id = item.VeiculoId }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Edit", "Edit", new { id = item.VeiculoId }) |
            @Html.ActionLink("Details", "Details", new { id = item.VeiculoId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.VeiculoId })
        </td>
    </tr>
}

</table>

