@model EstacionamentoESilva.Models.ServicoHorista

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ServicoHorista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraSaida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraSaida)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ServicoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
