@model IEnumerable<EstacionamentoESilva.Models.Servico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>     
        <th>
            @Html.DisplayNameFor(model => model.Placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VeiculoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinutoEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinutoSaida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraSaída)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MesEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MesSaida)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinutoEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinutoSaida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraSaída)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MesEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MesSaida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VeiculoId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServicoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServicoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServicoId })
        </td>
    </tr>
}

</table>
