@model IEnumerable<EstacionamentoESilva.Models.Servico>

@{
    ViewBag.Title = "ServicosCadastrados";
}

<h2>ServicosCadastrados</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Placas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraSaida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaSaida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MesEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MesSaida)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Placas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraSaida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaSaida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MesEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MesSaida)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServicoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServicoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServicoId })
        </td>
    </tr>
}

</table>
