@model EstacionamentoESilva.Models.Servico

@{
    ViewBag.Title = "Deletar Serviço";
}

    <h4><b>Deletar</b></h4>

    <h3>Tem certeza que gostaria de deletar esse serviço?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraSaida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraSaida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaSaida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaSaida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MesEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MesEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MesSaida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MesSaida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoServico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoServico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServicoStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServicoStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Excluir" class="btn btn-danger" />
    @Html.ActionLink("Voltar", "ServicosCadastrados", null, new { @class = "btn btn-warning" })
</div>
    }
</div>
