@model EstacionamentoESilva.Models.Funcionario

@{
    ViewBag.Title = "Login";
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema de Estacionamento</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body class="bodyLogin text-center">
    <div>
        <br /><br /><br />
        <h1><b style="color:cadetblue">ESTACIONAMENTO E SILVA</b></h1>
    </div>
    <form method="POST" class="form-signin">
        @Html.AntiForgeryToken()
        <h2><b style="color:cadetblue">Entre com seu login:</b></h2>
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Email, "Login", htmlAttributes: new { @class = "control-label col-md-2", @style = "color:cadetblue;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Entre com seu email", maxlength = 50 } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Senha, "Senha", htmlAttributes: new { @class = "control-label col-md-2", @style = "color:cadetblue;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control", placeholder = "Entre com sua senha", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Entrar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
    @ViewBag.Error
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema de Estacionamento 2.0</p>
        </footer>
    </div>
</body>
</html>