@model Exemplo_Razor.Models.Usuario

<h2>Resposta do Formulario</h2>

<div class="container">
    <div>
        @Html.LabelFor(x => x.Login)
        @Html.DisplayFor(x => x.Login)
    </div>
    <div>
        @Html.LabelFor(x => x.Senha)
        @Html.DisplayFor(x => x.Senha)
    </div>
    <div>
        @Html.LabelFor(x => x.Idade)
        @Html.DisplayFor(x => x.Idade)
    </div>
</div>




